body {
    margin: 0;
    display: flex;
    flex-direction: column;
    background: #1F2937;
    text-align: center;
}

.container {
    color: white;
    background: #6943FF;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Inter', sans-serif;
}

#unit {
    margin-top: 20px;
    color: white;
    width: 100px;
    height: 80px;
    border: 2px solid #B295FF;
    border-radius: 5px;
    background: transparent;
    font-size: 55px;
    text-align: center;
    font-weight: bold;
}

#convert-btn {
    margin-top: 20px;
    margin-bottom: 30px;
    color: #3D3D3D;
    padding: 10px 25px;
    border:1px solid #6943FF;
    border-radius: 6px;
}

.length{
    margin-top: 30px;
    margin-left:auto;
    margin-right: auto; 
    color: #CCC1FF;
    width: 500px;
    height: 100px;
    background: #273549;
    border: none;
    border-radius: 5px;  
}

#length-el {
    color: white;
}

.volume{
    margin-top: 30px;
    margin-left:auto;
    margin-right: auto; 
    color: #CCC1FF;
    width: 500px;
    height: 100px;
    background: #273549;
    border: none;
    border-radius: 5px;  
}

#volume-el {
    color: white;
}

.mass{
    margin-top: 30px;
    margin-left:auto;
    margin-right: auto; 
    color: #CCC1FF;
    width: 500px;
    height: 100px;
    background: #273549;
    border: none;
    border-radius: 5px;  
}

#mass-el {
    color: white;
}
